.logo {
	color: white;
	font-size: 25px;
	height: 64px;
	background-color: rgb(246, 217, 71);
	text-align: center;
}

.ant-layout-header {
	background-color: white !important;
	height: 65px;
	border-bottom: 1px solid rgb(233, 233, 233);
	line-height: 5px;
}

.ant-layout-header p {
	line-height: 5px;
}

.ant-layout-header div .badge {
	top: -16px;
	right: -8px;
	background-color: red !important;
}

.hidden {
	display: none;
}

.lg-logo {
	font-size: 25px;
	margin-right: 5px;
}

.dashboard {
	margin-top: 15px;
	background-color: #f5f5f5;
	min-height: 100vh;
	padding: 24px;
}

.font-size {
	font-size: 14px;
}

.font-size1 {
	font-size: 12px;
	font-weight: 500;
	color: blue;
}

.image_div img {
	border-radius: 30px;
	width: 50px;
}

main {
	background-color: transparent !important;
	overflow-y: scroll;
	height: 80vh;
}

main::-webkit-scrollbar {
	width: 0px;
}
