@import url(Main.css);

/* Header Part */

.header-top-strip{
  border-bottom: 1px solid var(--color-3b4149);
  background-color: var(--color-131921);
}

.header-upper{
  background-color: var(--color-131921);
}

.header-bottom{
  background-color: var(--color-232f3e);
}

.header-bottom .menu-links a,
.header-bottom .dropdown button{
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.header-bottom .dropdown button:focus{
  box-shadow: none;
}

.header-bottom .dropdown-menu{
  background-color: var(--color-131921);
  width: 100%;
  transform: translate3d(0px, 57px, 0px);
}

.header-bottom .dropdown-item {
  padding: 20px;
  margin: 3px;
  border-bottom: 1px solid var(--color-3b4149);
}

.header-bottom .dropdown-item:hover{
  background-color: transparent;
  color: var(--color-febd69) !important;
}

.header-upper .input-group-text{
  background-color: var(--color-febd69);
}

.header-upper .header-upper-links img{
  width: 30px;
  height: 30px;
}

/* Header Part Ends Here */


/* Footer Part  */

footer{
  background-color: var(--color-232f3e);  
}

footer:not(:first-child){
  border-top: 1px solid var(--color-3b4149);
}

footer .input-group-text{
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px 17px;
}

/* Footer Part Ends Here */

/* Home Part Starts */
.main-banner-content{
  top: 10%;
  left: 5%;
  color: rgb(10, 14, 61);
}

.main-banner-content h4{
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.main-banner-content h5{
  color: var(--color-bf4800);
  font-size: 43px;
  line-height: 64px;
  letter-spacing: 0.2px;
  font-weight: 500;
  text-transform: none;
}

.main-banner-content p{
  font-size: 25px;
  line-height: 28px;
  letter-spacing: 0.4px;
  color: rgb(194, 69, 16);
}

/* small banner */
.small-banner-content {
  top: 20%;
  left: 10%;
  color: rgb(10, 14, 61);
}

.small-banner-content h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.small-banner-content h5 {
  color: var(--color-bf4800);
  font-size: 22px;
  line-height: 34px;
  letter-spacing: 0.2px;
  font-weight: 500;
  text-transform: none;
}

.small-banner-content p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.4px;
  color: rgb(194, 69, 16);
}

.small-banner{
  width: 49%;
}


/* Home wrapper -2  */

.home-wrapper-2
{
  background-color: var(--color-f5f5f7);
  /* margin-bottom: 1em; */
}

/* .home-wrapper-3{
  background-color: rgb(239, 239, 239);
} */


/* Home wrapper -2 ends here */


/* Home wrapper-3 starts */

.categories,
.card-wrapper{
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 5px;
}

.categories>div{
  width: 25%;
  padding: 30px 10px 40px 30px;
}

.categories >div >img{
  margin-left: 1rem;
}

.categories >div > div {
  width: 60%;
}

.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3),
.categories>div:nth-child(4){
  border-bottom: 1px solid var(--color-ededed);
}

.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3){
  border-right: 1px solid var(--color-ededed);
}

.categories>div:nth-child(5),
.categories>div:nth-child(6),
.categories>div:nth-child(7) {
  border-right: 1px solid var(--color-ededed);
}

/* Home wrapper-3 ends here */

/* Home Part Ends Here */

/* Blog Part */


.blog-card{
  background-color: white;
  /* padding: 20px; */
  border-radius: 10px;
}

.blog-card img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blog-content{
  padding: 15px;
}

.blog-content p.date{
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  padding: 0;
  color: var(--color-777777);
} 

.blog-content h5{
  font-size: 20px;
  color: var(--color-131921);
}

.blog-content p.desc{
  font-size: 15px;
  line-height: 20px;
  color: var(--color-777777);
}

.single-blog-card a {
  font-size: 18px;
  color: var(--color-777777);
  margin-bottom: 20px;
}

.single-blog-card h3 {
  font-size: 34px;
  font-weight: 600;
  color: var(--color-1c1c1b);
}

.single-blog-card p {
  color: var(--color-777777);
  font-size: 20px;
}

.blog-wrapper .single-blog-card img {
  width: 80%;
}
/* Blog Part Ends Here */


/* Card Product starts here */

.product-card{
  padding: 18px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1rem;
  width: 100%;
}

.product-card .product-image{
  height: 260px;
}

.product-card .product-image img{
  object-fit: contain;
}

.product-card .product-image>img:last-child {
  display: none;
}

.product-card:hover .product-image>img:nth-child(1){
  display: none;
}
.product-card:hover .product-image>img:last-child{
  display: block;
}

.product-card:hover .action-bar{
  right: 14px;
}

.product-card .product-details h6{
  color: var(--color-bf4800);
  font-size: 13px;
}

.product-card .product-details h5{
  font-size: 15px;
  color: var(--color-1c1c1b);
}
.product-card .product-details p{
  font-size: 17px;
  color: var(--color-1c1c1b);
}

.product-card .description{
  font-size: 13px;
  color: var(--color-777777);
  margin-right: 20px;
}

.action-bar{
  top: 10%;
  right: -22px;
  transition: .3s;
}

.wishlist-icon{
  top: 4%;
  right: 15px;
}


/* Card Product ends here */


/* Special Product starts here */

.special-product-card{
  padding: 30px 10px;
  border-radius: 10px;
  background-color: white;
}

/* Special Product ends here */

/* Famous Card starts here */

.famous-card .famous-content{
  top: 7%;
  left: 7%;
}

.famous-card img{
  border-radius: 10px;
  height: 420px;
}

.border{
  /* border: 1px solid rgb(77, 77, 77); */
  border-radius: 10px;
}

.famous-content h5{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: white;
  margin-bottom: 7px;
  text-transform: uppercase;
}

.famous-content h6{
  font-size: 26px;
  line-height: 38px;
  font-weight: 500;
  color: white;
}

.famous-content p{
  font-size: 15px;
  line-height: 24px;
  font-weight: 200;
  color:white;
}

/* Famous Card Ends Here */


/* Policy Starts Here */

.policy {
  background-color:rgb(148, 90, 90);
  padding: 30px;
  margin-bottom: 3rem;
}
/* Policy Ends Here */

.color-red{
  color: red;
}

/* error */

.error {
  color: red;
}

.dropzone_image{
  cursor: pointer;
}

.display_color1{
  color: red
}

.display_color2{
  color: blue
}

.btn-hover{
  color: white !important;
}

.btn-close{
  background-color: white;
}

.modalFix{
  border: none !important;
  background-color: #FAFAFA;
}

.selectedBrand{
  color: red;
  font-size: 16px;
  font-weight: 400;
}

.spanSelectedBrand{
  font-size: 16px;
  font-weight: 400;
}



