@import url(Main.css);

.compare-product-card {
    padding: 20px 15px;
    background-color: white;
    border-radius: 10px;
}

.wishlist-card-div{
    gap: 20px;
    margin-bottom: 2rem;
}

.wishlist-card{
    background-color: white;
    box-shadow: 0 2px 4px rgb(188, 188, 188);
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
}

.wishlist-card-image{
    flex-grow: 1;
        /* Allow the image to expand and fill the available space */
    overflow: hidden;
        /* Hide any overflowing content */
}

.wishlist-card-image img {
    margin-top: 8px;
    padding: 5px;
    object-fit: contain;
    margin-bottom: 1rem;
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease;
    
}
.compare-product-card .cross,
.wishlist-card .cross {
    top: 6px;
    right: 5px;
    width: 22px;
    padding: 3px;
    cursor: pointer;
    background-color: white;
    /* color: red; */
    border-radius: 5px;
    opacity: 0;
        /* Hide the icon by default */
    transition: opacity 0.2s ease;
        /* Add a smooth transition */
}

.wishlist-card:hover .cross {
    opacity: 1;
    /* Show the icon on hover */
}

.compare-product-details h5.title,
.wishlist-card h5.title {
    /* font-family: 'Roboto', sans-serif !important; */
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: rgb(7, 56, 189);
}

.compare-product-details h6.price,
.wishlist-card h6.price {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: red;
}

.compare-product-details h6.color,
.wishlist-card h6.color {
    font-size: 13px;
    line-height: 22px;
    font-weight: 300;
}

.compare-product-card .product-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.column{
    font-weight: 500;
    font-size: 14px;
}