@import url(Main.css);
/* Our Store */

.filter-card {
	background-color: white;
	border-radius: 10px;
	padding: 20px;
}

.filter-title {
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	color: var(--color-1c1c1b);
	margin-bottom: 20px;
}

.filter-card ul,
.filter-card .form-check-label {
	list-style: none;
	font-size: 13px;
	/* line-height: 30px; */
	color: var(--color-777777);
	cursor: pointer;
}

.sub-title {
	font-size: 14px;
	font-weight: 600;
	color: var(--color-1c1c1b);
	margin-bottom: 15px;
	margin-top: 15px;
}

.sub-division {
	cursor: pointer;
}

.filter-card .form-check-input:focus {
	box-shadow: none;
	border-color: var(--color-febd69);
}

.filter-card .form-check-input:checked {
	background-color: var(--color-febd69);
	border-color: var(--color-febd69);
}

.product-heading {
	padding-top: 1px;
}

.colors {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	cursor: pointer;
}

.colors li {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid rgb(203, 203, 203);
}

.random-products h5 {
	font-size: 14px;
	margin-bottom: 8px;
}

.random-products:first-child {
	border-bottom: 1px solid var(--color-ededed);
}

.filter-sort-grid {
	padding: 10px;
	background-color: white;
	border-radius: 10px;
}

.grid img {
	width: 34px;
	height: 34px;
	background-color: #f2f2f2;
	padding: 8px;
	border-radius: 10px;
	cursor: pointer;
}

.gr-12 {
	width: 100%;
}

.gr-6 {
	width: 49%;
}

.gr-4 {
	width: 32%;
}

.gr-3 {
	width: 24%;
}

.gr-12 .product-card {
	display: flex;
	gap: 20px;
	/* align-items: center; */
}

.gr-12 .product-card .product-image {
	width: 250px;
	height: 250px;
}

.gr-12 .product-card .product-image img {
	max-width: 100%;
	/* Allow the image to scale proportionally within its container */
	height: 230px;
	/* Maintain aspect ratio */
}

.gr-12 .action-bar {
	top: 5%;
}

.gr-6 .product-image {
	width: 100%;
}

.gr-6 .product-image img {
	margin: auto;
	display: block;
}

.cartmargin {
	margin-bottom: 3rem;
}

.filter-card ul li {
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

.filter-card .filter-title1 {
	font-size: 18px;
	margin-bottom: 1em;
	font-weight: 600;
}

.modal-font-size {
	font-size: 13px;
}

.modal-link {
	color: white;
	border: 1px solid rgb(221, 220, 220);
	padding: 8px;
}

.font-sizeX {
	font-size: 13px;
	color: blue;
}
/* Our Store end here */

/* Main Product Page */

.description-wrapper h4,
.reviews-wrapper h3 {
	font-size: 26px;
	color: #1c1c1b;
	margin-bottom: 10px;
}

.description-wrapper p {
	font-size: 14px;
	color: var(--color-777777);
}

.description-inner-wrapper {
	border-radius: 10px;
}

.review-inner-wrapper {
	background-color: white;
	padding: 30px;
	border-radius: 10px;
}

.review-head {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-bottom: 20px;
}

.review-head h4 {
	font-size: 18px;
	color: var(--color-1c1c1b);
}

.review-head p,
.review-head a {
	font-size: 14px;
	color: var(--color-777777);
}

.review-form h4 {
	font-size: 16px;
	color: var(--color-777777);
}

.review-form {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.review:not(:last-child) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.review p {
	font-size: 14px;
}

.user-review {
	margin-top: 1rem;
	border: 1px solid rgb(188, 186, 186);
	padding: 12px;
	border-radius: 5px;
}

.no-review {
	margin-top: 10px;
	align-items: center;
	color: #de0707;
}

.main-product-image {
	background-color: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.main-product-image > div {
	border: 1px solid rgba(163, 160, 160, 0.25);
	border-radius: 10px;
	margin-top: 10px;
}

.main-product-image img {
	padding: 15px;
	object-fit: contain;
}

.other-product-images {
	background-color: white;
	padding: 20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.other-product-images > div {
	display: block;
	margin-left: auto;
	margin-right: auto;
	object-fit: contain;
	padding: 20px;
	width: 45%;
	border: 1px solid rgba(179, 177, 177, 0.25);
	border-radius: 7px;
}

.main-product-image .js-image-zoom__zoomed-image {
	left: 50px !important;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
	z-index: 1000;
}

.main-product-details {
	padding: 30px 20px;
	background-color: white;
	border-radius: 10px;
}

.border-bottom {
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.border-bottom .title {
	font-family: "Roboto", sans-serif !important;
}

.main-product-details h3.title {
	font-size: 18px;
	font-weight: 600;
	color: var(--color-1c1c1b);
	margin-bottom: 10px;
}

.main-product-details p.price {
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}

.main-product-details a.review-btn,
.t-review {
	color: var(--color-777777);
	font-size: 13px;
}

.product-heading {
	font-size: 14px;
	color: var(--color-1c1c1b);
	margin-bottom: 0px;
}

.product-data {
	font-size: 13px;
	columns: var(--color-777777);
	margin-bottom: 0px;
	margin-top: 3px;
}

.product-data span {
	color: blue;
}

.main-product-details a {
	font-size: 14px;
	color: var(--color-777777);
}

.compareandwishlist {
	border: 1px solid rgb(212, 210, 210);
	padding: 10px;
	border-radius: 10px;
}

/* Main Product Page */

/* Add product */

.label-name {
	font-size: 17px;
	color: navy;
}

.header-name {
	color: navy;
}

.product-border {
	border: 1px solid rgb(218, 218, 218);
	border-radius: 5px;
}

.invalid-feedback {
	font-size: 14px;
}

.red-text {
	color: red;
}

.option-name {
	/* font-size: 12px; */
	font-weight: 100;
}

.is-invalid {
	border: 1px solid rgb(253, 14, 14);
	border-radius: 5px;
}

.image_w {
	height: 50vh;
	background-color: yellow;
}

.btn-close {
	font-size: 20px;
}

.add_productImage {
	border: 1px solid rgb(218, 218, 218);
	padding: 5px;
}
