@import url(Main.css);

.auth-card {
    padding: 20px;
    background-color: white;
    width: 500px;
    margin: 30px auto;
    border-radius: 10px;
}

.auth-card h3 {
    font-size: 19px;
    font-weight: 500;
    color: var(--color-777777);
}

.auth-card p {
    font-size: 13px;
    color: var(--color-777777);
}

.auth-card .form-control {
    height: 50px;
    background-color: var(--color-f5f5f7);
    color: var(--color-777777);
    font-size: 14px;
    border-radius: 10px;
    border-color: transparent;
}

.auth-card a {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-1c1c1b);
}

.signup {
    background-color: var(--color-febd69);
    color: var(--color-131921);
    border: none;
}

.signup:hover {
    background-color: var(--color-131921);
    color: white;
}